Hilma.Domain/Integrations/Schema/208Defence/F06_CONTRACT_AWARD_UTILITIES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : F06_CONTRACT_AWARD_UTILITIES
#  RELEASE : "R2.0.8.S04"
#  Intermediate release number 003-20180515
#  Last update :20/02/2012
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.8.S04">
	<xs:include schemaLocation="common.xsd"/>
	<!-- justi_choice_competition_contract_award_utilities declaration -->
	<!-- complementary_information_contract_award_utilities declaration -->
	<xs:complexType name="complementary_information_contract_award_utilities">
		<xs:annotation>
			<xs:documentation>Section VI: COMPLEMENTARY INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="RELATES_TO_EU_PROJECT_YES"/>
				<xs:element ref="RELATES_TO_EU_PROJECT_NO"/>
			</xs:choice>
			<xs:element ref="ADDITIONAL_INFORMATION" minOccurs="0"/>
			<xs:element ref="APPEAL_PROCEDURES" minOccurs="0"/>
			<xs:element ref="NOTICE_DISPATCH_DATE"/>
		</xs:sequence>
	</xs:complexType>
	<!-- award_contract_contract_award_utilities declaration -->
	<xs:complexType name="mandatory_information_not_intended_publication">
		<xs:annotation>
			<xs:documentation>SECTION V.2: AWARD AND CONTRACT VALUE - MANDATORY INFORMATION NOT INTENDED FOR PUBLICATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="CONTRACT_NO" type="xs:string" minOccurs="0"/>
				<xs:choice>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="LOT_NUMBER"/>
						<xs:element ref="TITLE_CONTRACT"/>
					</xs:sequence>
					<xs:element ref="TITLE_CONTRACT" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:element name="OFFERS_RECEIVED_NUMBER" type="_3car" minOccurs="0"/>
			<xs:element name="OFFERS_RECEIVED_NUMBER_MEANING" type="_3car" minOccurs="0"/>
			<xs:element ref="NUMBER_CONTRACTS_AWARDED" minOccurs="0"/>
			<xs:group ref="INC_05_CHP"/>
			<xs:element name="TOTAL_VALUE_CONTRACT" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="VALUE_COST"/>
					</xs:sequence>
					<xs:attribute name="CURRENCY" type="currencies" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="COUNTRY_ORIGIN_PRODUCT" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="COMMUNITY_ORIGIN"/>
						<xs:element name="NO_COMMUNITY_ORIGIN" type="xs:string"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="PRICE_AWARD_CRITERIA" type="price_award_criteria" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="CONTRACT_AWARDED"/>
				<xs:element ref="NO_CONTRACT_AWARDED"/>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="TENDERS_EXCLUDED"/>
				<xs:element ref="NO_TENDERS_EXCLUDED"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="ITEM" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="information_value_contract">
		<xs:annotation>
			<xs:documentation>SECTION V.1.4: Information on value of contract</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="INC_40"/>
			<xs:group ref="INC_16"/>
			<xs:choice minOccurs="0">
				<xs:element name="NUMBER_YEARS" type="_2car"/>
				<xs:element name="NUMBER_MONTHS" type="_3car"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="award_and_contract_value">
		<xs:annotation>
			<xs:documentation>SECTION V.1: AWARD AND CONTRACT VALUE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="CONTRACT_NO" type="xs:string" minOccurs="0"/>
				<xs:choice>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="LOT_NUMBER"/>
						<xs:element ref="TITLE_CONTRACT"/>
					</xs:sequence>
					<xs:element ref="TITLE_CONTRACT" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:element ref="DATE_OF_CONTRACT_AWARD" minOccurs="0"/>
			<xs:element name="OFFERS_RECEIVED_NUMBER" type="_3car" minOccurs="0"/>
			<xs:element name="OFFERS_RECEIVED_NUMBER_MEANING" type="_3car" minOccurs="0"/>
			<xs:group ref="INC_05_CHP"/>
			<xs:element name="INFORMATION_VALUE_CONTRACT" type="information_value_contract" minOccurs="0"/>
			<xs:group ref="INC_41"/>
			<xs:element name="PRICE_PAID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SECTION V.1.6: Information on value of contract</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="cost">
							<xs:attribute name="CURRENCY" type="currencies" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ITEM" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="award_contract_contract_award_utilities">
		<xs:annotation>
			<xs:documentation>SECTION V: AWARD OF CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AWARD_AND_CONTRACT_VALUE" type="award_and_contract_value" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MANDATORY_INFORMATION_NOT_INTENDED_PUBLICATION" type="mandatory_information_not_intended_publication" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- procedures_contract_award_utilities declaration -->
	<xs:complexType name="price_award_criteria">
		<xs:attribute name="PRICE" type="lst_32" use="required"/>
	</xs:complexType>
	<xs:complexType name="f06_award_criteria_contract_utilities_information">
		<xs:annotation>
			<xs:documentation>Section IV.2: AWARD CRITERIA</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PRICE_AWARD_CRITERIA" type="price_award_criteria" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="F06_ELECTRONIC_AUCTION"/>
				<xs:element ref="NO_ELECTRONIC_AUCTION"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_procedure_award">
		<xs:annotation>
			<xs:documentation>Section IV.1: TYPE OF PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="PT_OPEN"/>
				<xs:element ref="PT_RESTRICTED"/>
				<xs:element ref="PT_NEGOTIATED_WITH_COMPETITION"/>
				<xs:element name="F06_PT_NEGOTIATED_WITHOUT_COMPETITION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="JUSTI_CHOICE_COMPETITION_CONTRACT_AWARD_UTILITIES" type="annex_d_f06" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="F06_AWARD_WITHOUT_PRIOR_PUBLICATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="JUSTI_CHOICE_COMPETITION_CONTRACT_AWARD_UTILITIES" type="annex_d_f06" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="procedures_contract_award_utilities">
		<xs:sequence>
			<xs:element name="TYPE_PROCEDURE_AWARD" type="type_procedure_award"/>
			<xs:element name="F06_AWARD_CRITERIA_CONTRACT_UTILITIES_INFORMATION" type="f06_award_criteria_contract_utilities_information" minOccurs="0"/>
			<xs:element name="ADMINISTRATIVE_INFO_CONTRACT_AWARD_UTILITIES" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section IV.3: ADMINISTRATIVE INFORMATION</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="REFERENCE_NUMBER_ATTRIBUTED" minOccurs="0"/>
						<xs:group ref="INC_31_F6"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- object_contract_award_utilities declaration -->
	<xs:complexType name="description_contract_award_utilities">
		<xs:annotation>
			<xs:documentation>Section II.1: DESCRIPTION OF THE CONCESSION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TITLE_CONTRACT" minOccurs="0"/>
			<xs:group ref="INC_11_PUB"/>
			<xs:group ref="INC_12"/>
			<xs:element name="F06_NOTICE_INVOLVES" type="notice_involves_desc" minOccurs="0"/>
			<xs:element ref="SHORT_DESCRIPTION"/>
			<xs:group ref="INC_10"/>
			<xs:element ref="CONTRACT_COVERED_GPA" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="object_contract_award_utilities">
		<xs:annotation>
			<xs:documentation>Section II: OBJECT OF THE CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DESCRIPTION_CONTRACT_AWARD_UTILITIES" type="description_contract_award_utilities"/>
			<xs:group ref="INC_16"/>
		</xs:sequence>
	</xs:complexType>
	<!-- contracting_entity_contract_award_utilities declaration -->
	<xs:complexType name="contracting_entity_contract_award_utilities">
		<xs:annotation>
			<xs:documentation>Section I: CONTRACTING AUTHORITY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NAME_ADDRESSES_CONTACT_CONTRACT_AWARD_UTILITIES">
				<xs:annotation>
					<xs:documentation>Section I.1: NAME, ADDRESSES AND CONTACT POINT(S)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="INC_01"/>
						<xs:element name="INTERNET_ADDRESSES_CONTRACT_AWARD_UTILITIES" type="internet_addresses" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ACTIVITIES_OF_CONTRACTING_ENTITY" minOccurs="0"/>
			<xs:element ref="PURCHASING_ON_BEHALF" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- fd_contract_award_utilities declaration -->
	<xs:complexType name="fd_contract_award_utilities">
		<xs:sequence>
			<xs:element name="CONTRACTING_ENTITY_CONTRACT_AWARD_UTILITIES" type="contracting_entity_contract_award_utilities"/>
			<xs:element name="OBJECT_CONTRACT_AWARD_UTILITIES" type="object_contract_award_utilities"/>
			<xs:element name="PROCEDURES_CONTRACT_AWARD_UTILITIES" type="procedures_contract_award_utilities"/>
			<xs:element name="AWARD_CONTRACT_CONTRACT_AWARD_UTILITIES" type="award_contract_contract_award_utilities"/>
			<xs:element name="COMPLEMENTARY_INFORMATION_CONTRACT_AWARD_UTILITIES" type="complementary_information_contract_award_utilities"/>
		</xs:sequence>
	</xs:complexType>
	<!-- contract_award_utilities declaration -->
	<xs:complexType name="contract_award_utilities">
		<xs:sequence>
			<xs:element name="FD_CONTRACT_AWARD_UTILITIES" type="fd_contract_award_utilities"/>
		</xs:sequence>
		<xs:attribute name="LG" type="languages" use="required"/>
		<xs:attribute name="CATEGORY" type="category" use="required"/>
		<xs:attribute name="FORM" use="required" fixed="6"/>
		<xs:attribute name="VERSION" use="required" fixed="R2.0.8.S04"/>
	</xs:complexType>
	<!-- ROOT element -->
	<xs:element name="CONTRACT_AWARD_UTILITIES" type="contract_award_utilities">
		<xs:annotation>
			<xs:documentation>F6 root element</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
