Hilma.Domain/Validators/TedSchema/208Defence/F14_ADDITIONAL_INFORMATION_CORRIGENDUM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : F14_ADDITIONAL_INFORMATION_CORRIGENDUM
#  RELEASE : "R2.0.8.S05"
#  Intermediate release number 002-20201027
#  Last update :08/10/2020
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.8.S05">
	<xs:include schemaLocation="common.xsd"/>
	<!-- modified_address declaration -->
	<xs:complexType name="modified_address">
		<xs:sequence>
			<xs:group ref="INC_01"/>
			<xs:element name="MODIFIED_INTERNET" type="internet_addresses" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- new_old_value declaration -->
	<xs:complexType name="new_old_value">
		<xs:choice>
			<xs:element ref="CPV_MAIN"/>
			<xs:element ref="CPV_ADDITIONAL"/>
			<xs:element ref="NUTS"/>
			<xs:element ref="DATE_TIME"/>
			<xs:element name="TEXT" type="btx"/>
		</xs:choice>
	</xs:complexType>
	<!-- object declaration -->
	<xs:simpleType name="object">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="DATE"/>
			<xs:enumeration value="TEXT"/>
			<xs:enumeration value="CPV"/>
			<xs:enumeration value="NUTS"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- replace declaration -->
	<xs:complexType name="replace">
		<xs:annotation>
			<xs:documentation>Correction-type = REPLACE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WHERE" type="xs:string"/>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="OLD_VALUE" type="new_old_value"/>
				<xs:element name="NEW_VALUE" type="new_old_value"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="OBJECT" type="object" use="required"/>
	</xs:complexType>
	<!-- delete declaration -->
	<xs:complexType name="delete">
		<xs:annotation>
			<xs:documentation>Correction-type = DELETE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WHERE" type="xs:string"/>
			<xs:element name="OLD_VALUE" type="new_old_value" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="OBJECT" type="object" use="required"/>
	</xs:complexType>
	<!-- add declaration -->
	<xs:complexType name="add">
		<xs:annotation>
			<xs:documentation>Correction-type = ADD</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WHERE" type="xs:string"/>
			<xs:element name="NEW_VALUE" type="new_old_value" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="OBJECT" type="object" use="required"/>
	</xs:complexType>
	<!-- corr declaration -->
	<xs:complexType name="corr">
		<xs:choice>
			<xs:element name="ADD" type="add"/>
			<xs:element name="DELETE" type="delete"/>
			<xs:element name="REPLACE" type="replace"/>
		</xs:choice>
	</xs:complexType>
	<!-- addr_corr declaration -->
	<xs:complexType name="addr_corr">
		<xs:sequence>
			<xs:element name="WHERE" type="xs:string"/>
			<xs:element name="MODIFIED_ADDRESS" type="modified_address"/>
		</xs:sequence>
	</xs:complexType>
	<!-- modified_internet declaration -->
	<xs:complexType name="modified_internet">
		<xs:sequence>
			<xs:element ref="URL_GENERAL" minOccurs="0"/>
			<xs:element ref="URL_BUYER" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- original_notice declaration -->
	<xs:complexType name="original_notice">
		<xs:annotation>
			<xs:documentation>
				<p>In-Original = Section VI.3.3 AND Section VI.3.4 AND Section VI.3.6 AND Section VI.3.5</p>
				<p>For one or many Correction-object(s), one or many Correction-type(s)</p>
				<p>Correction-object = DATE, CPV, NUTS, TEXT</p>
				<p>Correction-type		where						old-value				new-value</p>
				<p>ADD						&lt;Place in text&gt;	-         					&lt;new value&gt;</p>
				<p>DELETE					&lt;Place in text&gt;	&lt;old value&gt;	-</p>
				<p>REPLACE				&lt;Place in text&gt;	&lt;old value&gt;	&lt;new value&gt;</p>
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="CORR" type="corr" maxOccurs="unbounded"/>
				<xs:element name="ADDR_CORR" type="addr_corr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:element name="ADDR_CORR" type="addr_corr" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<!-- original_notice_corresponding_tender declaration -->
	<xs:complexType name="original_notice_corresponding_tender">
		<xs:annotation>
			<xs:documentation>
				<p>Section VI.3.2 </p>
				<p>Section VI.3.2 = In-Original AND/OR In-Tender</p>
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element name="ORIGINAL_NOTICE" type="original_notice"/>
				<xs:element ref="CORRESPONDING_TENDER" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="CORRESPONDING_TENDER"/>
		</xs:choice>
	</xs:complexType>
	<!-- modification_original_publication_ted -->
	<xs:complexType name="modification_original_publication_ted">
		<xs:annotation>
			<xs:documentation>
				<p>Section VI.3.1</p>
				<p>Section VI.3.1 = In-Received AND/OR In-Published</p>
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:sequence>
				<xs:element ref="MODIFICATION_ORIGINAL"/>
				<xs:element ref="PUBLICATION_TED" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="PUBLICATION_TED"/>
		</xs:choice>
	</xs:complexType>
	<!-- information_corrected_added declaration -->
	<xs:complexType name="information_corrected_added">
		<xs:sequence>
			<xs:element name="MODIFICATION_ORIGINAL_PUBLICATION_TED" type="modification_original_publication_ted"/>
			<xs:element name="ORIGINAL_NOTICE_CORRESPONDING_TENDER" type="original_notice_corresponding_tender"/>
		</xs:sequence>
	</xs:complexType>
	<!-- correction_additional_info declaration -->
	<xs:complexType name="correction_additional_info">
		<xs:annotation>
			<xs:documentation>
				<p>Section VI.3 : INFORMATION TO BE CORRECTED OR ADDED</p>
				<p>Correction AND/OR Addition = Section VI.3 AND Section VI.3.1 AND Section VI.3.2</p>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="CORRECTION">
						<xs:complexType/>
					</xs:element>
					<xs:element ref="ADDITIONAL_INFO" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="ADDITIONAL_INFO"/>
			</xs:choice>
			<xs:element name="INFORMATION_CORRECTED_ADDED" type="information_corrected_added"/>
		</xs:sequence>
	</xs:complexType>
	<!-- incomplete_awarding_procedure declaration-->
	<xs:complexType name="incomplete_awarding_procedure">
		<xs:sequence>
			<xs:element name="INCOMPLETE_REASON">
				<xs:complexType>
					<xs:attribute name="VALUE" type="value_incomplete_reason" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="INCOMPLETE_INFO" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="VALUE" type="value_incomplete_info" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- incomplete_procedure declaration -->
	<xs:complexType name="incomplete_procedure">
		<xs:annotation>
			<xs:documentation>
				<p>Section VI.2 : INFORMATION ON INCOMPLETE AWARDING PROCEDURE</p>
				<p>Incomplete = Part1: elements are exclusive and one is mandatory </p>
				<p>[Discontinued OR exclusive Unsuccessful OR exclusive Not-Awarded</p>
				<p>AND</p>
				<p>Part2: elements are optional and can be multiple (Part2 can be completly empty)</p>
				<p>[ Republication] </p>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INCOMPLETE_AWARDING_PROCEDURE" type="incomplete_awarding_procedure"/>
		</xs:sequence>
	</xs:complexType>
	<!-- complementary_additional_information_corrigendum declaration -->
	<xs:complexType name="notice_involves_icar">
		<xs:choice>
			<xs:element name="INCOMPLETE_PROCEDURE" type="incomplete_procedure"/>
			<xs:element name="CORRECTION_ADDITIONAL_INFO" type="correction_additional_info"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="complementary_icar">
		<xs:annotation>
			<xs:documentation>
			Section VI : COMPLEMENTARY INFORMATION
			Section VI = [[ Incomplete ] OR exclusive [ Correction AND/OR Addition ]] AND Section VI.4 AND Section VI.5 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NOTICE_INVOLVES_ICAR" type="notice_involves_icar"/>
			<xs:element name="OTHER_ADDITIONAL_INFO" type="btx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section VI.4 : OTHER ADDITIONAL INFORMATION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="NOTICE_DISPATCH_DATE"/>
		</xs:sequence>
	</xs:complexType>
	<!-- procedure_additional_information_corrigendum declaration -->
	<xs:complexType name="notice_publication">
		<xs:annotation>
			<xs:documentation>Section IV.2.3 : Notice to which this publication refers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="NOTICE_NUMBER_OJ"/>
			<xs:element ref="DATE_OJ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="simap_esender_notice_reference">
		<xs:annotation>
			<xs:documentation>Section IV.2.2 : Notice reference</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SIMAP_ESENDER">
				<xs:complexType>
					<xs:attribute name="VALUE" type="lst_38" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="LOGIN"/>
			<xs:element ref="NO_DOC_EXT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="administrative_information">
		<xs:annotation>
			<xs:documentation>Section IV.2 : ADMINISTRATIVE INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="FILE_REFERENCE_NUMBER" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section IV.2.1 : File reference number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="SIMAP_ESENDER_NOTICE_REFERENCE" type="simap_esender_notice_reference"/>
					<xs:element name="NOTICE_PUBLICATION" type="notice_publication" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="NOTICE_PUBLICATION" type="notice_publication"/>
			</xs:choice>
			<xs:element name="ORIGINAL_DISPATCH_DATE" type="date">
				<xs:annotation>
					<xs:documentation>Section IV.2.4 : Date of dispatch of the original notice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_of_procedure_corrigendum">
		<xs:annotation>
			<xs:documentation>Section IV.1 : TYPE OF PROCEDURE </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TYPE_OF_PROCEDURE_DETAIL_FOR_ICAR">
				<xs:annotation>
					<xs:documentation>Section IV.1.1 : Type of procedure</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="VALUE" type="lst_11" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="procedure_icar">
		<xs:annotation>
			<xs:documentation>Section IV : PROCEDURES</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TYPE_OF_PROCEDURE_CORRIGENDUM" type="type_of_procedure_corrigendum" minOccurs="0"/>
			<xs:element name="ADMINISTRATIVE_INFORMATION" type="administrative_information"/>
		</xs:sequence>
	</xs:complexType>
	<!-- object_additional_information_corrigendum declaration -->
	<xs:complexType name="description_icar">
		<xs:annotation>
			<xs:documentation>Section II.1 : DESCRIPTION </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TITLE_CONTRACT">
				<xs:annotation>
					<xs:documentation>Section II.1.1 : Title attributed to the contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SHORT_DESCRIPTION_CONTRACT">
				<xs:annotation>
					<xs:documentation>Section II.1.2 : Short description of contract</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="INC_10">
				<xs:annotation>
					<xs:documentation>Section II.1.3 : Common procurement vocabulary (CPV)</xs:documentation>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="object_icar">
		<xs:annotation>
			<xs:documentation>Section II : OBJECT OF THE CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DESCRIPTION_ICAR" type="description_icar"/>
		</xs:sequence>
	</xs:complexType>
	<!-- auth_entity_additional_information_corrigendum declaration -->
	<xs:complexType name="type_of_purchasing_body">
		<xs:annotation>
			<xs:documentation>Section I.2 : TYPE OF PURCHASING BODY</xs:documentation>
		</xs:annotation>
		<xs:attribute name="VALUE" type="lst_34" use="required"/>
	</xs:complexType>
	<xs:complexType name="name_addresses_contact_icar">
		<xs:annotation>
			<xs:documentation>Section I.1 : NAME, ADDRESSES AND CONTACT POINT(S)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="INC_01"/>
			<xs:element name="INTERNET_ADDRESSES_ICAR" type="internet_addresses" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="auth_entity_icar">
		<xs:annotation>
			<xs:documentation>Section I : CONTRACTING AUTHORITY ENTITY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NAME_ADDRESSES_CONTACT_ICAR" type="name_addresses_contact_icar"/>
			<xs:element name="TYPE_OF_PURCHASING_BODY" type="type_of_purchasing_body" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- fd_additional_information_corrigendum declaration-->
	<xs:complexType name="fd_additional_information_corrigendum">
		<xs:sequence>
			<xs:element name="AUTH_ENTITY_ICAR" type="auth_entity_icar"/>
			<xs:element name="OBJECT_ICAR" type="object_icar"/>
			<xs:element name="PROCEDURES_ICAR" type="procedure_icar"/>
			<xs:element name="COMPLEMENTARY_ICAR" type="complementary_icar"/>
		</xs:sequence>
	</xs:complexType>
	<!-- additional_information_corrigendum declaration -->
	<xs:complexType name="additional_information_corrigendum">
		<xs:sequence>
			<xs:element name="FD_ADDITIONAL_INFORMATION_CORRIGENDUM" type="fd_additional_information_corrigendum"/>
		</xs:sequence>
		<xs:attribute name="LG" type="languages" use="required"/>
		<xs:attribute name="CATEGORY" type="category" use="required"/>
		<xs:attribute name="FORM" use="required" fixed="14"/>
		<xs:attribute name="VERSION" use="required" fixed="R2.0.8.S05"/>
	</xs:complexType>
	<!-- ROOT element -->
	<xs:element name="ADDITIONAL_INFORMATION_CORRIGENDUM" type="additional_information_corrigendum">
		<xs:annotation>
			<xs:documentation>F14 root element : ADDITIONAL_INFORMATION_CORRIGENDUM</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
