Hilma.Domain/Validators/TedSchema/208Defence/F17_CONTRACT_DEFENCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
####################################################################################
#  XSD name : F17_CONTRACT_DEFENCE
#  RELEASE : "R2.0.8.S05"
#  Intermediate release number 002-20201027
#  Last update :08/10/2020
####################################################################################
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="R2.0.8.S05">
	<xs:include schemaLocation="common.xsd"/>
	<!-- procedure_definition_contract_notice Declaration -->
	<xs:complexType name="administrative_information_contract_notice_defence">
		<xs:annotation>
			<xs:documentation>SECTION IV.3: ADMINISTRATIVE INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="FILE_REFERENCE_NUMBER" minOccurs="0"/>
			<xs:group ref="INC_31_F17"/>
			<xs:group ref="INC_33" minOccurs="0"/>
			<xs:element ref="RECEIPT_LIMIT_DATE"/>
			<xs:element ref="DISPATCH_INVITATIONS_DATE" minOccurs="0"/>
			<xs:element ref="LANGUAGE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_of_procedure_detail_for_contract_notice_defence">
		<xs:annotation>
			<xs:documentation>Section IV.1.1: TYPE OF PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="PT_RESTRICTED"/>
			<xs:element name="PT_ACCELERATED_RESTRICTED_CHOICE">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PTAR_JUSTIFICATION" type="btx" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PT_NEGOTIATED_CHOICE">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="IS_CANDIDATE_SELECTED" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="F17_PT_ACCELERATED_NEGOTIATED">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PTAN_JUSTIFICATION" type="btx" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="PT_COMPETITIVE_DIALOGUE"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="type_of_procedure_defence">
		<xs:annotation>
			<xs:documentation>SECTION IV.1: TYPE OF PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TYPE_OF_PROCEDURE_DETAIL_FOR_CONTRACT_NOTICE_DEFENCE" type="type_of_procedure_detail_for_contract_notice_defence"/>
			<xs:element name="MAXIMUM_NUMBER_INVITED" type="maximum_number_invited" minOccurs="0"/>
			<xs:element name="REDUCTION_OF_THE_NUMBER" type="yes_no" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section IV.1.3: REDUCTION ON THE NUMBER OF OPERATORS DURING THE NEGOTIATION OR DIALOGUE</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="procedure_definition_contract_notice_defence">
		<xs:annotation>
			<xs:documentation>SECTION IV: PROCEDURE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TYPE_OF_PROCEDURE_DEFENCE" type="type_of_procedure_defence"/>
			<xs:element name="AWARD_CRITERIA_CONTRACT_NOTICE_INFORMATION" type="award_criteria_contract_notice_information" minOccurs="0"/>
			<xs:element name="ADMINISTRATIVE_INFORMATION_CONTRACT_NOTICE_DEFENCE" type="administrative_information_contract_notice_defence"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="f17_conditions_for_participation">
		<xs:annotation>
			<xs:documentation>SECTION III.2: CONDITIONS FOR PARTICIPATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ECONOMIC_OPERATORS_PERSONAL_SITUATION" minOccurs="0"/>
			<xs:element ref="ECONOMIC_OPERATORS_PERSONAL_SITUATION_SUBCONTRACTORS" minOccurs="0"/>
			<xs:element name="F17_ECONOMIC_FINANCIAL_CAPACITY" type="economic_financial_capacity_lefti" minOccurs="0"/>
			<xs:element name="F17_ECONOMIC_FINANCIAL_CAPACITY_SUBCONTRACTORS" type="economic_financial_capacity_lefti" minOccurs="0"/>
			<xs:element name="TECHNICAL_CAPACITY_LEFTI" type="technical_capacity_lefti" minOccurs="0"/>
			<xs:element name="TECHNICAL_CAPACITY_LEFTI_SUBCONTRACTORS" type="technical_capacity_lefti" minOccurs="0"/>
			<xs:group ref="INC_21" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lefti_contract_defence">
		<xs:annotation>
			<xs:documentation>SECTION III: LEGAL, ECONOMIC, FINANCIAL AND TECHNICAL INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CONTRACT_RELATING_CONDITIONS" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="DEPOSITS_GUARANTEES_REQUIRED" minOccurs="0"/>
						<xs:element ref="MAIN_FINANCING_CONDITIONS" minOccurs="0"/>
						<xs:element ref="LEGAL_FORM" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element ref="EXISTENCE_OTHER_PARTICULAR_CONDITIONS"/>
							<xs:element ref="NO_EXISTENCE_OTHER_PARTICULAR_CONDITIONS"/>
						</xs:choice>
						<xs:element name="CLEARING_LAST_DATE" type="date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="F17_CONDITIONS_FOR_PARTICIPATION" type="f17_conditions_for_participation" minOccurs="0"/>
			<xs:group ref="INC_22" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- object_contract_information declaration -->
	<xs:complexType name="subcontracting">
		<xs:sequence>
			<xs:element name="INDICATE_ANY_SHARE" type="yes_no" minOccurs="0"/>
			<xs:element name="INDICATE_ANY_CHANGE" type="yes_no" minOccurs="0"/>
			<xs:element name="SUBCONTRACT_AWARD_PART" type="yes_no" minOccurs="0"/>
			<xs:element name="SUBCONTRACT_SHARE" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="MIN_PERCENTAGE"/>
						<xs:element ref="MAX_PERCENTAGE"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IDENTIFY_SUBCONTRACT" type="yes_no" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="f17_annex_b">
		<xs:annotation>
			<xs:documentation>Annexe B: INFORMATION ABOUT LOTS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="INC_06"/>
			<xs:group ref="INC_10"/>
			<xs:element ref="NATURE_QUANTITY_SCOPE" minOccurs="0"/>
			<xs:group ref="INC_13"/>
			<xs:element ref="ADDITIONAL_INFORMATION_ABOUT_LOTS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ITEM" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="f17_div_into_lot_yes">
		<xs:sequence>
			<xs:element name="F17_ANNEX_B" type="f17_annex_b" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="VALUE" type="lst_10"/>
	</xs:complexType>
	<xs:complexType name="f17_division_into_lots">
		<xs:annotation>
			<xs:documentation>Section II.1.8: DIVISION INTO LOTS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="F17_DIV_INTO_LOT_YES" type="f17_div_into_lot_yes"/>
				<xs:element ref="DIV_INTO_LOT_NO"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="f17_framework">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="SINGLE_OPERATOR"/>
				<xs:element ref="SEVERAL_OPERATORS"/>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element ref="DURATION_FRAMEWORK_YEAR"/>
				<xs:element ref="DURATION_FRAMEWORK_MONTH"/>
			</xs:choice>
			<xs:element name="JUSTIFICATION" type="btx" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Section II.1.4.6: justification for a framework agreement the duration of which exceeds seven years</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TOTAL_ESTIMATED" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="description_contract_information_defence">
		<xs:annotation>
			<xs:documentation>Section II.1: DESCRIPTION</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TITLE_CONTRACT" minOccurs="0"/>
			<xs:group ref="INC_11_DEFENCE"/>
			<xs:group ref="INC_12"/>
			<xs:element ref="NOTICE_INVOLVES_DEFENCE" minOccurs="0"/>
			<xs:element name="F17_FRAMEWORK" type="f17_framework" minOccurs="0"/>
			<xs:element ref="SHORT_CONTRACT_DESCRIPTION"/>
			<xs:group ref="INC_10"/>
			<xs:element name="SUBCONTRACTING" type="subcontracting" minOccurs="0"/>
			<xs:element name="F17_DIVISION_INTO_LOTS" type="f17_division_into_lots" minOccurs="0"/>
			<xs:element ref="ACCEPTED_VARIANTS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="object_contract_information_defence">
		<xs:annotation>
			<xs:documentation>Section II: OBJECT OF THE CONTRACT</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DESCRIPTION_CONTRACT_INFORMATION_DEFENCE" type="description_contract_information_defence"/>
			<xs:element ref="QUANTITY_SCOPE" minOccurs="0"/>
			<xs:group ref="INC_13"/>
		</xs:sequence>
	</xs:complexType>
	<!-- contracting_authority_information declaration -->
	<xs:complexType name="contracting_authority_information_defence">
		<xs:annotation>
			<xs:documentation>Section I: CONTRACTING AUTHORITY</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NAME_ADDRESSES_CONTACT_CONTRACT">
				<xs:annotation>
					<xs:documentation>Section I.1: NAME, ADDRESSES AND CONTACT POINT(S)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="INC_01"/>
						<xs:element name="INTERNET_ADDRESSES_CONTRACT" type="internet_addresses" minOccurs="0"/>
						<xs:group ref="INC_02"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="TYPE_AND_ACTIVITIES_OR_CONTRACTING_ENTITY_AND_PURCHASING_ON_BEHALF" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--fd_contract declaration -->
	<xs:complexType name="fd_contract_defence">
		<xs:sequence>
			<xs:element name="CONTRACTING_AUTHORITY_INFORMATION_DEFENCE" type="contracting_authority_information_defence"/>
			<xs:element name="OBJECT_CONTRACT_INFORMATION_DEFENCE" type="object_contract_information_defence"/>
			<xs:element name="LEFTI_CONTRACT_DEFENCE" type="lefti_contract_defence"/>
			<xs:element name="PROCEDURE_DEFINITION_CONTRACT_NOTICE_DEFENCE" type="procedure_definition_contract_notice_defence"/>
			<xs:element name="COMPLEMENTARY_INFORMATION_CONTRACT_NOTICE" type="complementary_information_contract_notice"/>
		</xs:sequence>
		<xs:attribute name="CTYPE" type="ctype" use="required"/>
	</xs:complexType>
	<!-- contract declaration -->
	<xs:complexType name="contract_defence">
		<xs:sequence>
			<xs:element name="FD_CONTRACT_DEFENCE" type="fd_contract_defence"/>
		</xs:sequence>
		<xs:attribute name="LG" type="languages" use="required"/>
		<xs:attribute name="CATEGORY" type="category" use="required"/>
		<xs:attribute name="FORM" use="required" fixed="17"/>
		<xs:attribute name="VERSION" use="required" fixed="R2.0.8.S05"/>
	</xs:complexType>
	<!-- ROOT element -->
	<xs:element name="CONTRACT_DEFENCE" type="contract_defence">
		<xs:annotation>
			<xs:documentation>F17 root element</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
